/* CSS Document */

/* TOP */

*{
	margin: 0px;
	padding: 0px;
}

.clr{
	clear: both;	
}

body{
    background: url(../images/hinh-nen-may-trang-dep_104324872.jpg) center top no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13.5px;
}

.main{
	width: 1000px;
	margin: 0px auto;
}

.top{
	width: 1000px;
	height: 45px;
	background-color: #4A4A4A;
}

.languages {
	float: right;
	width: 150px;
	padding-top: 8px;
}

.languages div{
	float: left;
	color: #B3ADAD;
	padding: 0 5px 0 0;
}

.languages a{
	float:left;
	display:block;
	padding:0 2px;
}

.search{
	width: 370px;
	height: 32px;
	float: right;
	background: url(../images/1920x1080-white-solid-color-background.jpg) no-repeat center;
	margin-right: 20px;
}

.search .search_text{
	padding: 8px 0 0 15px;
	float:left;
	width:110px;
	color:#999999;
}

.search .search_text a{
	color:#999999;
	text-decoration:none;
}

.search .search_input{
	width: 182px;
	height: 18px;
	margin-top: 5px;
	border: 1px solid #dbdbdb;
	border-bottom-color:#ffffff;
	border-right-color: #ffffff;
}
